body {
    background-image: linear-gradient(to right, #5aa9e6, #7fc8f8);
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
}

#back {
    color: #f9f9f9;
    text-decoration: none;
    margin: 15px;
}

.tip-calc {
    display: flex;
    justify-content: space-evenly;
}

.heading {
    text-align: center;
    color: #f9f9f9;
    margin: 40px;
    font-size: 40px;
    text-shadow: 2px 2px 0px #ff6392, 4px 4px 0px #ffe45e;
    letter-spacing: 3px;
}

.par {
    text-align: center;
    color: #f9f9f9;
    letter-spacing: 3px;
}

.container-one {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    margin: 50px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-two {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    margin: 50px;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#checkedBox {
    display: none;
}

#show-hide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blocks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.block {
    background-color: #ff6392;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: #f9f9f9;
    text-align: center;
}

#proposed-tip {
    display: none;
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: 1px solid #5aa9e6;
    border-radius: 7px;
    outline: none;
}

input:focus {
    border: 2px solid #7fc8f8;
}

#tip {
    display: none;
}

#people {
    margin-left: 25px;
}

.btns {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #ffe45e;
    font-size: 17px;
}

button:hover {
    background-color: #7fc8f8;
}

#reset, #refuse {
    background-color: #5aa9e6;
    color: #f9f9f9;
}

#reset:hover, #refuse:hover {
    background-color: #ff6392;
}

@media all and (max-width: 1000px) {
    .tip-calc {
        align-items: center;
    }
    .container-one {
        padding: 20px;
        margin: 30px;
        width: 70%;
    }
    .container-two {
        padding: 20px;
        margin: 20px;
        width: 80%;
        flex-direction: column;
        text-align: center;
    }
    .heading {
        margin: 30px;
    }
}
@media all and (max-width: 800px) {
    .tip-calc {
        flex-direction: column;
        align-items: center;
    }
}
@media all and (max-width: 500px) {
    .tip-calc {
        flex-direction: column;
        align-items: center;
    }
    .heading {
        margin: 20px;
    }
}