body {
    background-image: linear-gradient(to right, #373B44 , #4286f4);
    font-family: 'Noto Sans KR', sans-serif;
}

.heading {
    text-align: center;
    color: white;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    opacity: 70%;
}

#blocks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.block {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

}

form {
    /* display: flex;
    flex-direction: column; */
}

input {
    padding: 5px;
    margin: 5px;
    /* border: none; */
}

#tip {
    display: none;
}

.btns {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* width: 50%; */
}