/* body {
    background-image: url('https://images.unsplash.com/photo-1494319827402-c4b839aed26b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F4FCFD;
}

.calculator {
    text-align: center;
    margin: 5px 0 0 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

table {
    width: 30%;
}

h1 {
    text-align: left;
    margin: 30px 10px 20px 140px;
}

td {
    font-size: 30px;
    background-color: #FCF8E8;
    width: 30px;
    height: 90px;
}

td:hover {
    cursor: pointer;
    background-color: #D4E2D4;
}

input {
    text-align: right;
    width:28%;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
}

.accent {
    background-color: #ECB390;
}

.equals {
    background-color: #DF7861;
} */

.cont {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    box-shadow: 6px 6px 13px #fff, 6px 6px 13px rgba(0,0,0,.16);
    border-radius: 28px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
}
input {
    grid-column: span 4;
    height: 60px;
    width: 258px;
    box-shadow: inset -6px -6px 13px #fff, inset 6px 6px 13px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    text-align: end;
    margin: 40px 0;
    padding: 20px;
    font-size: 40px;
}
button {
    box-shadow: inset 6px 6px 13px #fff, 6px 6px 13px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    background-color: #ecf0f3;
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 20px;
}
.equals {
    width: 240px;
    border-radius: 40px;
}