body {
    background-color: #F1F6F9;
    color: #14274E;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border-radius: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
    background-color: #14274E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    grid-column: span 4;
    height: 40px;
    width: 224px;
    border: none;
    border-radius: 15px;
    text-align: end;
    margin: 20px 10px 5px 10px;
    padding: 10px;
    font-size: 30px;
    background-color: #F1F6F9;
}

button {
    border: none;
    border-radius: 50%;
    margin: 5px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    background-color: #F1F6F9;
}

button:hover {
    background-color: #394867;
    color: #F1F6F9;
    border: 1px solid #F1F6F9;
}

.equals {
    width: 250px;
    border-radius: 15px;
    background-color: #F05454;
}

.accent {
    background-color: #9BA4B4;
}