body {
    margin: 0;
}

.header {
    background-color: cornflowerblue;
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

a {
    color: cornsilk;
    text-decoration: none;
    letter-spacing: 2px;
}