body {
    margin: 0;
    color: #227c9d;
    background: #fef9ef;
}

#back {
    color: #17c3b2;
    text-decoration: none;
    margin: 15px;
}

.container {
    display: flex;
}

.header {
    border: #227c9d solid 2px;
    background-color: #227c9d;
    color: #fef9ef;
    border-radius: 10px;
    height: 15vh;
    margin: 0 20px;
    font-size: 20px;
    box-shadow: 5px 5px 10px #adb5bd;
}

.header:hover {
    background-color: #fef9ef;
    color: #227c9d;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

h2 {
    letter-spacing: 5px;
}

h2:hover {
    /* color: #fef9ef; */
    cursor: default;
}

.squares {
    margin-top: 40px;
}

h3 {
    padding-top: 20px;
    font-size: 25px;
}

.square {
    width: 220px;
    height: 110px;
    opacity: 0;
    text-align: center;
    border: 3px solid #ffcb77;
    background-color: #ffcb77;
    color: #012a4a;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #adb5bd;
}

.square:hover {
    background: #fef9ef;
    cursor: default;
}

#thumb, #smile {
    opacity: 0;
}

/* #smile:hover {
    
} */

.question {
    font-size: 40px;
    opacity: 0;
    color: #012a4a;
}

.question:hover {
    color: #227c9d;
}

.yes-btn {
    font-size: 30px;
    padding: 20px 40px;
    border-radius: 10px;
    background: #17c3b2;
    border: #17c3b2 solid 3px;
    color: #fef9ef;
    box-shadow: 5px 5px 10px #adb5bd;
}

.no-btn {
    font-size: 30px;
    padding: 20px 45px;
    border-radius: 10px;
    background: #fe6d73;
    border: #fe6d73 solid 3px;
    color: #fef9ef;
    box-shadow: 5px 5px 10px #adb5bd;
}

.yes-btn:hover {
    cursor: pointer;
    background: #fef9ef;
    color: #17c3b2;
}

.no-btn:hover {
    cursor: pointer;
    background: #fef9ef;
    color: #17c3b2;
    border: #17c3b2 solid 3px;
    padding: 20px 40px;
}