body {
    font-family: 'Raleway', sans-serif;
}

#back {
    color: #555;
    text-decoration: none;
    margin: 15px;
}

.heading, #link {
    text-align: center;
    color: #2c2c2c;
    letter-spacing: .25em;
    font-size: 30px;
}

.heading:hover {
    text-shadow: 
        3px 3px 0px #d5d5d5, 
        4px 4px 0px rgba(0, 0, 0, 0.2);
}

#link {
    text-decoration: none;
}

.perfumes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.perf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.perf:hover {
border: solid 0.5px #ccc;
}

#search {
    padding: 10px;
    margin: 10px;
    width: 80%;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    caret-color: #555;
}

#search:focus {
    border: 1px solid #555;
}

a {
    color: #555;
    margin: 5px;
    font-size: 20px;
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media all and (max-width: 800px) {
    .search-div {
        flex-direction: column;
    }
}