body {
    background-color: #F2FAFF;
    color: #2A2A33;
}

#back {
    color: #0D4599;
    text-decoration: none;
    margin: 15px;
}

.heading {
    text-align: center;
    background-color: #F2FAFF;
}

.house {
    display: flex;
    justify-content: center;
}

.dream_pic {
    width: 500px;
    margin: 20px;
}

.house_text {
    margin: 5px;
    font-size: 20px;
}

.rooms {
    display: flex;
}

.room {
    height: 70vh;
    background-size: cover;
    background-position: center;
    flex: 1;
    margin: 5px;
    position: relative;
}

.name {
    position: absolute;
    left: 20px;
    background-color: #F2FAFF;
    border-radius: 5px;
    opacity: 80%;
    font-size: 0;
}

.desc {
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 0;
    background-color: #F2FAFF;
    border-radius: 5px;
    opacity: 80%;
}

.short {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 0;
    background-color: #F2FAFF;
    border-radius: 5px;
    opacity: 80%;
}

.hovered {
    flex: 3;
}

.hovered .name {
    font-size: 20px;
    transition: all 1s ease-in;
    padding: 3px 5px;
}

.hovered .desc {
    font-size: 15px;
    transition: all 1s ease-in;
    padding: 3px 5px;
}

.hovered .short {
    font-size: 15px;
    transition: all 1s ease-in;
    padding: 3px 5px;
}

.one {
    background-image: url('https://images.unsplash.com/photo-1609210885099-6ba41569c6dc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGtpdGNoZW58ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.two {
    background-image: url('https://images.unsplash.com/photo-1600210491892-03d54c0aaf87?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGxpdmluZyUyMHJvb218ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.three {
    background-image: url('https://images.unsplash.com/photo-1556020685-ae41abfc9365?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmVkcm9vbXxlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.four {
    background-image: url('https://images.unsplash.com/photo-1585412727254-46e14627b8df?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJhdGhyb29tfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.five {
    background-image: url('https://images.unsplash.com/photo-1586836930332-6a1e2cb08e78?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmVkcm9vbXxlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.six {
    background-image: url('https://images.unsplash.com/photo-1586798271654-0471bb1b0517?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmF0aHJvb218ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.seven {
    background-image: url('https://images.unsplash.com/photo-1620393508176-1474bd6f6f9d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja3lhcmR8ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.eight {
    background-image: url('https://images.unsplash.com/photo-1572297259518-0974576b6738?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGRpbmluZyUyMHJvb218ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.nine {
    background-image: url('https://images.unsplash.com/photo-1620382186713-77a19968fdb1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cG9yY2h8ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.ten {
    background-image: url('https://images.unsplash.com/photo-1511190404154-700f574540f2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmFzZW1lbnR8ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.form {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #0D4599;
    color: #F2FAFF;
}

button:hover {
    cursor: pointer;
    opacity: 80%;
}

.price {
    color: #0D4599;
}

@media all and (max-width: 800px) {
    .dream_pic {
        width: 400px;
        margin: 20px;
    }
    .house {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}