body {
    background-color: cadetblue;
    font-size: 20px;
}

#main {
    display: flex;
    justify-content: space-evenly;

}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */
}

#input {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    /* width: 60%; */
}

#search {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px 15px;
}

#city_input {
    text-align: center;
}

/* #date, #city {
    border: 1px solid black;
    margin: 10px;
} */

li {
    /* border: 1px solid black; */
    margin: 10px;
    list-style-type: none;
}