body {
    background: linear-gradient(180deg, rgba(0,21,36,1) 0%, rgba(21,97,109,1) 100%) fixed;
    font-size: 20px;
    color: #ffecd1;
    margin: auto;
    font-family: 'Koh Santepheap', cursive;
}

#main {
    display: flex;
    justify-content: space-evenly;

}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */
    margin: 20px;
}

.block {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */
}

h1 {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #ff7d00;
    -webkit-text-decoration-line: underline;
}

#input {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    /* width: 60%; */
    border: 1px solid #ff7d00;
}

#search {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff7d00;
    color: #001524;
}

#search:hover {
    background-color: #78290f;
    color: #ffecd1;
    cursor: pointer;
}

#city_input {
    text-align: center;
}

/* #date, #city {
    border: 1px solid black;
    margin: 10px;
} */

li {
    /* border: 1px solid black; */
    margin: 10px;
    list-style-type: none;
    text-align: center;
}