body {
    background-color: cadetblue;
    font-size: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
}

/* #city {
    border: 1px solid black;
    margin: 20px;
}

#date {
    border: 1px solid black;
    margin: 20px;
} */