body {
    background-image: url('https://images.unsplash.com/photo-1492892132812-a00a8b245c45?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#back {
    color: #ffe8d6;
    text-decoration: none;
    margin: 15px;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: center;
}

.plans, .shopping {
    font-size: 60px;
    color: #ffffff;
    -webkit-text-stroke: 1px #269353;
    text-align: center;
}

h3 {
    color: #ffe8d6;
    text-align: center;
}

.inputField {
    padding: 10px;
    width: 70%;
    border-color: #269353;
    margin: 5px;
    font-size: 20px;
}

.another-inputField {
    padding: 10px;
    width: 70%;
    border-color: #269353;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
}

.btn {
    padding: 20px;
    background-color: #2c955c;
    margin: 5px;
    font-size: 20px;
    border: 1px solid #365a44;
    color: #ffffff;
}

.btn:hover, .addedItem:hover {
    cursor: pointer;
    background-color: #365a44;
    /* color: #28282a; */
    border: 1px solid #ffffff;
}

.another-btn {
    padding: 20px;
    background: linear-gradient(168deg, #2c955c 0%, #ffffff 50%, #2c955c 100%);
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    border: 1px solid #269353;
}

.another-btn:hover, .another-addedItem:hover {
    cursor: copy;
    background: linear-gradient(168deg, #ffffff 0%, #2c955c 50%, #ffffff 100%);
    color: #ffffff;
}

.addedItem {
    background-color: #2c955c;
    height: 50px;
    width: 80%;
    margin: auto;
    font-size: 20px;
    border: 1px solid #365a44;
    color: #ffffff;
    margin: 5px;
    padding: 30px 0 0 0;
}

.planner {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.another-addedItem {
    background: linear-gradient(168deg, #2c955c 0%, #ffffff 50%, #2c955c 100%);
    list-style-type: none;
    height: 50px;
    width: 80%;
    text-align: center;
    font-size: 20px;
    border: 1px solid #269353;
    border-radius: 10px;
    margin: 5px;
    padding: 30px 0 0 0;
}

li {
    text-align: center;
}

.strikethrough {
    background-color: #b7e4c7;
    color: black;
    text-decoration: line-through;
    transition: all 2s ease;
}

.another-strikethrough {
    /* color: #2d6a4f; */
    background: linear-gradient(168deg, #ffffff 0%, #269353 50%, #ffffff 100%);
    color: #ffffff;
    text-decoration: line-through;
    transition: all 2s ease;
}

@media all and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .plans, .shopping {
        font-size: 30px;
    }
}

@media all and (max-width: 500px) {
    .plans, .shopping {
        font-size: 25px;
    }
}