body {
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1455894127589-22f75500213a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=979&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Tenali Ramakrishna', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.block {
    background-color: #F6DEF6;
    border-radius: 10px;
    width: 50%;
    margin-top: 90px;
    padding: 10px;
    text-align: center;
}

.inputData {
    padding: 20px 35px;
    font-family: 'Tenali Ramakrishna', sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 25px;
}

.btn {
    font-family: 'Tenali Ramakrishna', sans-serif;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    background-color: #6155A6;
    color: white;
}

.btn:hover, .newGame:hover {
    cursor: pointer;
}

.heading {
    background-color: #F6DEF6;
    border-radius: 10px;
    padding: 1px 45px;
    margin-top: 50px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.newGame {
    font-family: 'Tenali Ramakrishna', sans-serif;
    padding: 10px 45px;
    margin: 50px;
    border-radius: 10px;
    border: solid 1px #6155A6;
    font-size: 25px;
    background-color: #F6DEF6;
}

@media all and (max-width: 800px) {
    .inputData {
        padding: 10px 15px;
    }
}

@media all and (max-width: 500px) {
    .inputData {
        padding: 5px 10px;
    }
    .block {
        width: 90%;
    }
    h1 {
        font-size: 30px;
        text-align: center;
    }
}