.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.xmas {
    background-color: violet;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days, .hours, .minutes, .seconds {
    font-size: 25px;
}