body {
    background-image: url("https://images.unsplash.com/photo-1608539660949-16799e893a95?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1005&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #221F1C;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.submain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container-one {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headingX {
    text-align: center;
    font-size: 45px;
    background-color: rgba(251, 248, 249, 0.8);
    padding: 20px 30px;
    border: 3px solid #FF4848;
}

.headingNY {
    text-align: center;
    font-size: 45px;
    background-color: rgba(251, 248, 249, 0.8);
    padding: 20px 30px;
    border: 3px solid black;
}

.xmas {
    background-color: rgba(251, 248, 249, 0.8);
    height: 180px;
    width: 120px;
    margin: 20px;
    border: 3px solid #FF4848;
}

.ny {
    background-color: rgba(251, 248, 249, 0.82);
    height: 180px;
    width: 120px;
    margin: 20px;
    border: 3px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daysX, .hoursX, .minutesX, .secondsX, .daysNY, .hoursNY, .minutesNY, .secondsNY {
    font-size: 30px;
}

.music {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicText {
    font-size: 35px;
    background-color: rgba(251, 248, 249, 0.8);
    padding: 15px 50px;
    border: 3px solid white;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
}

button:hover {
    cursor: pointer;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    color: white;
    text-align: center;
}

@media all and (max-width: 800px) {
    .headingX, .headingNY, .musicText {
        font-size: 25px;
    }
    .xmas, .ny {
        height: 150px;
        width: 100px;
        margin: 10px;
    }
    .daysX, .hoursX, .minutesX, .secondsX, .daysNY, .hoursNY, .minutesNY, .secondsNY {
        font-size: 20px;
    }
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}