.main {
    display: flex;
    flex-wrap: wrap;
}

.submain {
    display: flex;
    flex-direction: column;
    background-color: darkgoldenrod;
}

.container-one {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: blue;
}

.xmas {
    background-color: violet;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daysX, .hoursX, .minutesX, .secondsX, .daysNY, .hoursNY, .minutesNY, .secondsNY {
    font-size: 25px;
}

.container-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: cadetblue;
}

.ny {
    background-color: coral;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid black;
}