body {
    background-color: black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

img {
    width: 250px;
    margin: 30px;
}

img:hover, .shaking {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.btn {
    background-color: transparent;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    width: 40%;
    border-color: white;
    color: white;
    box-shadow: 0 0 5px #fff;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    font-size: 35px;
    padding: 17px;
}

#answers {
    display: none;
    background-color: transparent;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    font-size: 30px;
}

@media all and (max-width: 800px) {
    h1 {
        margin: 40px;
        font-size: 30px;
    }
    .btn {
        font-size: 30px;
        margin: 10px;
        padding: 25px;
        width: 70%;
    }
    .btn:hover {
        font-size: 30px;
        padding: 25px;
    }
    #answers {
        margin-top: 20px;
    }
    img {
        width: 250px;
        margin: 40px;
    }
    #answers {
        padding: 15px;
        font-size: 30px;
    }
}

@media all and (max-width: 600px) {
    h1 {
        font-size: 25px;
    }
    .btn {
        padding: 20px;
        font-size: 25px;
    }
    .btn:hover {
        padding: 20px;
        font-size: 25px;
    }
    img {
        width: 200px;
        margin: 30px;
    }
    #answers {
        padding: 10px;
        font-size: 25px;
    }
}

@media all and (max-width: 400px) {
    h1 {
        margin: 20px;
        padding: 10px 30px;
        font-size: 20px;
    }
    .btn {
        padding: 20px;
        font-size: 20px;
    }
    .btn:hover {
        padding: 20px;
        font-size: 20px;
    }
    img {
        width: 150px;
        margin: 10px;
    }
    #answers {
        margin: 10px 0;
        font-size: 20px;
        padding: 10px;
    }
}