body {
    background-color: black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    text-shadow: 0 0 3px #fff;
}

img {
    width: 250px;
    margin: 40px;
}

.btn {
    background-color: transparent;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    width: 40%;
    border-color: white;
    color: white;
    text-shadow: 0 0 3px #fff;
    box-shadow: 0 0 5px #fff;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    font-size: 35px;
    padding: 17px;
}

.btn:hover {
    color: black;
    background-image: linear-gradient(90deg, #FFF 0%, #adb5bd 49%, #ced4da 80%, #FFF 100%);
    animation:slide 3s linear infinite;
}

@keyframes slide {
    to {
        background-position:20vw;
    }
}

#answers {
    display: none;
    background-color: transparent;
    text-align: center;
    margin-top: 40px;
    padding: 30px;
    font-size: 30px;
    text-shadow: 0 0 3px #fff;
}

@media all and (max-width: 800px) {
    h1 {
        margin: 40px;
        font-size: 30px;
    }
    .btn {
        font-size: 30px;
        margin: 10px;
        padding: 25px;
        width: 70%;
    }
    .btn:hover {
        font-size: 30px;
        padding: 25px;
    }
    #answers {
        margin-top: 20px;
    }
    img {
        width: 250px;
        margin: 40px;
    }
    #answers {
        padding: 15px;
        font-size: 30px;
    }
}

@media all and (max-width: 600px) {
    h1 {
        font-size: 25px;
    }
    .btn {
        padding: 20px;
        font-size: 25px;
    }
    .btn:hover {
        padding: 20px;
        font-size: 25px;
    }
    img {
        width: 200px;
        margin: 30px;
    }
    #answers {
        padding: 10px;
        font-size: 25px;
    }
}

@media all and (max-width: 400px) {
    h1 {
        margin: 20px;
        padding: 10px 30px;
        font-size: 20px;
    }
    .btn {
        padding: 20px;
        font-size: 20px;
    }
    .btn:hover {
        padding: 20px;
        font-size: 20px;
    }
    img {
        width: 150px;
        margin: 10px;
    }
    #answers {
        margin: 10px 0;
        font-size: 20px;
        padding: 10px;
    }
}