.main {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

/* .container {
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
} */

#footer {
    bottom: 0%;
    position: fixed;
    margin: 20px;
}

#btn {
    font-size: 20px;
    padding: 20px 40px;
    margin: 30px;
    border-radius: 15px;
}

#quote, #author {
    padding: 20px 50px;
}