* {
    padding: 0;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    padding: 0 30px;
}

.title {
    margin: 50px;
    font-size: 50px;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin: 15px;
}

input[type="text"] {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 25px;
    /* border: none; */
}

.box {
    height: 100px;
    width: 100%;
    background-color: cadetblue;
}

p {
    font-size: 20px;
    margin: 20px;
}